.msec1 {
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/msec1.jpg');
}
.msec2{
    padding: 0 8%;
}
.msec2 .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 0;
    width: 100%;
}
.msec2 .item .dish-img img{
    width: 35vw;
    border-radius: 30px;
    box-shadow: 30px 30px 30px rgb(182, 182, 182);
}
.msec2 .item .dish-content{
    width: 40vw;
}
.msec2 .dish-content h2{
    font-family: var(--heading);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}
.msec2 .dish-content img{
    width: 200px;
    margin-bottom: 10px;
}
.msec2 .dish-content .item-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}
.msec2 .dish-content .item-price div:nth-child(2){
    margin-left: 50px;
}
.msec2 .dish-content .item-price h3{
    font-family: var(--title);
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}
.msec2 .dish-content .item-price p{
    font-size: 15px;
    color: rgb(90,90,90,90);
    font-weight: 500;
}
